.admin-container{
    display: flex;
    .admin-sidebar{
        .pro-sidebar{
            height: 100vh !important;
        }
    }
    .admin-content{
        .admin-header{
                     height: auto;
                    border: 1px solid blue;
        }
        .admin-main{
            height: auto;
            border: 1px solid rgb(0, 0, 0);
        }
    }
}