.modal-90w {
  width: 90%; /* Chiều rộng modal là 90% viewport width */
  max-width: none; 
}
.img-user{
  vertical-align: middle;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}